<!DOCTYPE html>
<html lang="en">
 
<head>
    <title>Python Flask Bucket List App</title>
 
 
    <link href="http://getbootstrap.com/dist/css/bootstrap.min.css" rel="stylesheet">
 
    <link href="http://getbootstrap.com/examples/jumbotron-narrow/jumbotron-narrow.css" rel="stylesheet">
    
 
 
</head>
 
<body>
 
    <div class="container">
        <div class="header">
            <nav>
                <ul class="nav nav-pills pull-right">
                    <li role="presentation" class="active"><a href="#">Home</a>
                    </li>
                    <li role="presentation"><a href="#">Sign In</a>
                    </li>
                    <li role="presentation"><a href="showSignUp">Sign Up</a>
                    </li>
                </ul>
            </nav>
            <h3 class="text-muted">Python Flask App</h3>
        </div>
 
        <div class="jumbotron">
            <h1>Bucket List App</h1>
            <p class="lead"></p>
            <p><a class="btn btn-lg btn-success" href="showSignUp" role="button">Sign up today</a>
            </p>
        </div>
 
        <div class="row marketing">
            <div class="col-lg-6">

                <div class="content">
<div class="col">
  <h2>My Skill</h2>
    <ul id="skill">
    <li><span class="expand java"></span><em>Java</em></li>
    <li><span class="expand python"></span><em>Python</em></li>
    <li><span class="expand javascript"></span><em>JavaScript</em></li>
    <li><span class="expand html"></span><em>HTML 5</em></li>
    <li><span class="expand css"></span><em>CSS</em></li>
    </ul>
</div>
</div>
                <h4>Bucket List</h4>
                <p>Donec id elit non mi porta gravida at eget metus. Maecenas faucibus mollis interdum.</p>
 
                <h4>Bucket List</h4>
                <p>Morbi leo risus, porta ac consectetur ac, vestibulum at eros. Cras mattis consectetur purus sit amet fermentum.</p>
 
                <h4>Bucket List</h4>
                <p>Maecenas sed diam eget risus varius blandit sit amet non magna.</p>
            </div>
 
            <div class="col-lg-6">
                <h4>Bucket List</h4>
                <p>Donec id elit non mi porta gravida at eget metus. Maecenas faucibus mollis interdum.</p>
 
                <h4>Bucket List</h4>
                <p>Morbi leo risus, porta ac consectetur ac, vestibulum at eros. Cras mattis consectetur purus sit amet fermentum.</p>
 
                <h4>Bucket List</h4>
                <p>Maecenas sed diam eget risus varius blandit sit amet non magna.</p>
            </div>
        </div>

        <div id ="map"></div>

        <script> 

function initMap() {
  var centreLat = 49.264
  var centreLon = -123.116
  ///var latit = {{latitude}};
  //var longi = {{longitude}};
  //var myLatLng = {lat: latit, lng: longi};
  var myLatLng = {lat: centreLat, lng: centreLon};
  //var listOf = {{listOf}}

  // Create a map object and specify the DOM element for display.
  var map = new google.maps.Map(document.getElementById('map'), {
    center: myLatLng,
    scrollwheel: false,
    zoom: 15
  });

  //for (var i = 0; i <listOf.length; i++){
    //var latitt = listOf[i][0];
    //var longit = listOf[i][1];
    //var myLatlng = new google.maps.LatLng(latitt, longit);
    //var marker = new google.maps.Marker({
             // position: myLatlng,

             // map:map,
          //});
     //marker.setMap(map)
  //}

  // Create a marker and set its position.
  /*var marker = new google.maps.Marker({
    map: map,
    position: myLatLng,
    title: "Hello World!"
  });*/
}

window.onload = setTimeout(initMap,1000);

</script>

<script async defer
      src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCsHbib3aGBwsO6ySVqCJcZUaAQjtNlqsc&callback=initMap">
    </script>


    <script> 
    function getLocation() {
    if (navigator.geolocation) {
        navigator.geolocation.getCurrentPosition(showPosition);
    } else {
       alert("Geolocation is not supported by this browser.");
    }
}
function showPosition(position) {
    alert("Latitude: " + position.coords.latitude + 
    " Longitude: " + position.coords.longitude);
    };

    window.onload = setTimeout(getLocation,500);

    </script>

 
        <footer class="footer">
            <p>&copy; Company 2015</p>
        </footer>
 
    </div>

    <style type="text/css">
     #map {
        width: 500px;
        height: 500px;
      }
    </style>
</body>
 
</html>